.site-foot {
  background: var(--color-base);
  color: hsla(0, 0%, 100%, 0.7);
  font-size: 1.3rem;
  padding: 20px 0 40px;
}
.site-foot-nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.container {
  margin: 0 auto;
  max-width: 1120px;
  padding: 0 4vw;
}
.site-foot-nav a {
  color: hsla(0, 0%, 100%, 0.7);
}
.site-foot-nav a:hover {
  color: #fff;
  text-decoration: none;
}
.site-foot-nav-left,
.site-foot-nav-right {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
}
.site-foot-nav-right a {
  display: inline-block;
  padding: 2px 5px;
}
